## Wrangle, Clean and Visualize FIFA 21 Player Data

### By Krishna Nadoor

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import datetime
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

#### Step 1 - Load the Data

In [2]:
# Load dataset and retrieve sample
df = pd.read_csv('FIFA21_official_data.csv')
df.sample(5)

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
194,197083,D. Caligiuri,32,https://cdn.sofifa.com/players/197/083/20_60.png,Italy,https://cdn.sofifa.com/flags/it.png,77,77,FC Augsburg,https://cdn.sofifa.com/teams/100409/light_30.png,...,68.0,12.0,10.0,13.0,6.0,14.0,RM,77.0,€12.6M,71.0
3050,225273,M. Thychosen,23,https://cdn.sofifa.com/players/225/273/20_60.png,Denmark,https://cdn.sofifa.com/flags/dk.png,68,74,FC Nordsjælland,https://cdn.sofifa.com/teams/1788/light_30.png,...,62.0,10.0,11.0,10.0,11.0,15.0,RM,70.0,€1.6M,59.0
7851,241994,Y. Toyokawa,25,https://cdn.sofifa.com/players/241/994/20_60.png,Japan,https://cdn.sofifa.com/flags/jp.png,68,71,Cerezo Osaka,https://cdn.sofifa.com/teams/101148/light_30.png,...,19.0,13.0,7.0,8.0,9.0,6.0,ST,70.0,€1.5M,19.0
15712,223249,G. Arias,32,https://cdn.sofifa.com/players/223/249/20_60.png,Chile,https://cdn.sofifa.com/flags/cl.png,77,77,Racing Club,https://cdn.sofifa.com/teams/101085/light_30.png,...,14.0,79.0,70.0,73.0,79.0,81.0,GK,77.0,€7.7M,10.0
9972,252162,A. Ueda,21,https://cdn.sofifa.com/players/252/162/20_60.png,Japan,https://cdn.sofifa.com/flags/jp.png,66,73,Kashima Antlers,https://cdn.sofifa.com/teams/101147/light_30.png,...,22.0,7.0,12.0,14.0,15.0,6.0,ST,68.0,€1.3M,22.0

#### Step 2 -  Exploratory Data Analysis

In [3]:
# Get Top 5
df.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
0,176580,L. Suárez,33,https://cdn.sofifa.com/players/176/580/20_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,87,87,Atlético Madrid,https://cdn.sofifa.com/teams/240/light_30.png,...,38.0,27.0,25.0,31.0,33.0,37.0,ST,87.0,€64.6M,57.0
1,192985,K. De Bruyne,29,https://cdn.sofifa.com/players/192/985/20_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,91,91,Manchester City,https://cdn.sofifa.com/teams/10/light_30.png,...,53.0,15.0,13.0,5.0,10.0,13.0,CAM,91.0,€161M,68.0
2,212198,Bruno Fernandes,25,https://cdn.sofifa.com/players/212/198/20_60.png,Portugal,https://cdn.sofifa.com/flags/pt.png,87,90,Manchester United,https://cdn.sofifa.com/teams/11/light_30.png,...,55.0,12.0,14.0,15.0,8.0,14.0,CAM,88.0,€124.4M,72.0
3,194765,A. Griezmann,29,https://cdn.sofifa.com/players/194/765/20_60.png,France,https://cdn.sofifa.com/flags/fr.png,87,87,FC Barcelona,https://cdn.sofifa.com/teams/241/light_30.png,...,49.0,14.0,8.0,14.0,13.0,14.0,ST,87.0,€103.5M,59.0
4,224334,M. Acuña,28,https://cdn.sofifa.com/players/224/334/20_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,83,83,Sevilla FC,https://cdn.sofifa.com/teams/481/light_30.png,...,79.0,8.0,14.0,13.0,13.0,14.0,LB,83.0,€46.2M,79.0

In [4]:
# Get bottom 5
df.tail()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
17103,247866,19 C. Miszta,16,https://cdn.sofifa.com/players/247/866/19_60.png,Poland,https://cdn.sofifa.com/flags/pl.png,50,70,Legia Warszawa,https://cdn.sofifa.com/teams/1871/light_30.png,...,13.0,48.0,51.0,56.0,40.0,56.0,GK,49.0,€120K,NaN
17104,251433,B. Voll,19,https://cdn.sofifa.com/players/251/433/20_60.png,Germany,https://cdn.sofifa.com/flags/de.png,51,63,FC Hansa Rostock,https://cdn.sofifa.com/teams/27/light_30.png,...,10.0,52.0,55.0,52.0,42.0,57.0,GK,51.0,€83K,5.0
17105,252420,T. Parker,18,https://cdn.sofifa.com/players/252/420/20_60.png,Northern Ireland,https://cdn.sofifa.com/flags/gb-nir.png,51,70,Luton Town,https://cdn.sofifa.com/teams/1923/light_30.png,...,11.0,50.0,49.0,50.0,53.0,55.0,GK,51.0,€149K,8.0
17106,248182,H. Sveijer,18,https://cdn.sofifa.com/players/248/182/20_60.png,Sweden,https://cdn.sofifa.com/flags/se.png,49,63,IK Sirius,https://cdn.sofifa.com/teams/113458/light_30.png,...,10.0,50.0,51.0,49.0,50.0,51.0,GK,49.0,€94K,8.0
17107,245862,19 J. Milli,18,https://cdn.sofifa.com/players/245/862/19_60.png,Italy,https://cdn.sofifa.com/flags/it.png,47,65,Lecce,https://cdn.sofifa.com/teams/347/light_30.png,...,11.0,52.0,52.0,52.0,40.0,44.0,GK,46.0,€109K,NaN

In [5]:
# Get dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17108 entries, 0 to 17107
Data columns (total 65 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        17108 non-null  int64
 1   Name                      17108 non-null  object
 2   Age                       17108 non-null  int64
 3   Photo                     17108 non-null  object
 4   Nationality               17108 non-null  object
 5   Flag                      17108 non-null  object
 6   Overall                   17108 non-null  int64
 7   Potential                 17108 non-null  int64
 8   Club                      16783 non-null  object
 9   Club Logo                 17108 non-null  object
 10  Value                     17108 non-null  object
 11  Wage                      17108 non-null  object
 12  Special                   17108 non-null  int64
 13  Preferred Foot            17108 non-null  object
 14  International Reputation  17108 non-null  float64
 15  Weak Foot                 17108 non-null  float64
 16  Skill Moves               17108 non-null  float64
 17  Work Rate                 17108 non-null  object
 18  Body Type                 17083 non-null  object
 19  Real Face                 17083 non-null  object
 20  Position                  17088 non-null  object
 21  Jersey Number             17088 non-null  float64
 22  Joined                    15659 non-null  object
 23  Loaned From               922 non-null    object
 24  Contract Valid Until      16612 non-null  object
 25  Height                    17108 non-null  object
 26  Weight                    17108 non-null  object
 27  Crossing                  17108 non-null  float64
 28  Finishing                 17108 non-null  float64
 29  HeadingAccuracy           17108 non-null  float64
 30  ShortPassing              17108 non-null  float64
 31  Volleys                   17069 non-null  float64
 32  Dribbling                 17108 non-null  float64
 33  Curve                     17069 non-null  float64
 34  FKAccuracy                17108 non-null  float64
 35  LongPassing               17108 non-null  float64
 36  BallControl               17108 non-null  float64
 37  Acceleration              17108 non-null  float64
 38  SprintSpeed               17108 non-null  float64
 39  Agility                   17069 non-null  float64
 40  Reactions                 17108 non-null  float64
 41  Balance                   17069 non-null  float64
 42  ShotPower                 17108 non-null  float64
 43  Jumping                   17069 non-null  float64
 44  Stamina                   17108 non-null  float64
 45  Strength                  17108 non-null  float64
 46  LongShots                 17108 non-null  float64
 47  Aggression                17108 non-null  float64
 48  Interceptions             17105 non-null  float64
 49  Positioning               17105 non-null  float64
 50  Vision                    17069 non-null  float64
 51  Penalties                 17108 non-null  float64
 52  Composure                 16821 non-null  float64
 53  Marking                   942 non-null    float64
 54  StandingTackle            17108 non-null  float64
 55  SlidingTackle             17069 non-null  float64
 56  GKDiving                  17108 non-null  float64
 57  GKHandling                17108 non-null  float64
 58  GKKicking                 17108 non-null  float64
 59  GKPositioning             17108 non-null  float64
 60  GKReflexes                17108 non-null  float64
 61  Best Position             17108 non-null  object
 62  Best Overall Rating       17108 non-null  float64
 63  Release Clause            15479 non-null  object
 64  DefensiveAwareness        16166 non-null  float64
dtypes: float64(40), int64(5), object(20)
memory usage: 8.5+ MB

In [6]:
# Get summary statistics
df.describe()

,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Overall Rating,DefensiveAwareness
count,17108.000000,17108.000000,17108.000000,17108.000000,17108.000000,17108.000000,17108.000000,17108.000000,17088.000000,17108.000000,...,942.000000,17108.000000,17069.000000,17108.000000,17108.000000,17108.000000,17108.000000,17108.000000,17108.000000,16166.000000
mean,221421.276187,25.053718,66.780161,72.553542,1625.722995,1.147533,2.981938,2.446107,20.756145,51.360065,...,46.403397,48.101473,45.933271,15.660744,15.529928,15.469839,15.550853,15.771510,67.753799,47.014475
std,36028.786065,4.915963,7.019069,5.738347,263.503922,0.455773,0.674699,0.780278,17.194590,17.954050,...,21.803653,21.532834,21.213315,16.910205,16.212333,15.977547,16.448905,17.209624,6.773192,20.152543
min,2.000000,16.000000,38.000000,46.000000,731.000000,1.000000,1.000000,1.000000,1.000000,6.000000,...,4.000000,5.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,42.000000,3.000000
25%,205451.750000,21.000000,62.000000,69.000000,1484.000000,1.000000,3.000000,2.000000,9.000000,40.000000,...,25.250000,28.000000,25.000000,8.000000,8.000000,8.000000,8.000000,8.000000,63.000000,29.000000
50%,230441.000000,24.000000,67.000000,72.000000,1653.000000,1.000000,3.000000,2.000000,18.000000,55.000000,...,48.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000,68.000000,52.000000
75%,245402.500000,28.000000,72.000000,76.000000,1810.000000,1.000000,3.000000,3.000000,27.000000,65.000000,...,66.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000,72.000000,64.000000
max,259105.000000,53.000000,93.000000,95.000000,2316.000000,5.000000,5.000000,5.000000,99.000000,94.000000,...,94.000000,93.000000,95.000000,90.000000,92.000000,93.000000,93.000000,90.000000,93.000000,94.000000

In [7]:
# Total null records in Club field
sum(df.Club.isnull())

325

In [8]:
# Get sample of Joined date (it's Object not date format)
df.Joined

0        Sep 25, 2020
1        Aug 30, 2015
2        Jan 30, 2020
3        Jul 12, 2019
4        Sep 14, 2020
             ...
17103     Mar 2, 2018
17104     Jul 1, 2019
17105     Jul 1, 2019
17106    Mar 31, 2019
17107     Jul 1, 2018
Name: Joined, Length: 17108, dtype: object

In [9]:
# Value counts for Clubs
df.Club.value_counts()

Manchester United       45
Arsenal                 44
AS Monaco               44
Crystal Palace          44
Bolton Wanderers        44
                        ..
Kardemir Karabükspor     1
113974                   1
Atlético Bucaramanga     1
Lierse SK                1
Cesena                   1
Name: Club, Length: 843, dtype: int64

In [10]:
# Value counts for a player's Work Rate

# In football, the Work Rate (Attacking / Defending) refers to the extend a player contributes to running and
# chasing in a match while not in possession of a ball.
# Source: https://en.wikipedia.org/wiki/Work_rate
df['Work Rate'].value_counts()

Medium/ Medium    8544
High/ Medium      3318
Medium/ High      1619
High/ High        1013
Medium/ Low        943
High/ Low          773
Low/ Medium        426
Low/ High          363
N/A/ N/A            59
Low/ Low            50
Name: Work Rate, dtype: int64

### Data Issues
#### Define Cleaning Tasks

#### Tidiness (1)
* Create extra fields to store the Work Rate (Attacking / Defending)

#### Quality (10)
* Cleanup Work Rate fields:
 * Remove Blank Spaces
 * Remove N/A from affected cells
 * Convert Work Rate fields to Categorical data types
* Remove Euro currency symbols from monetary fields and rename field to include Euro symbol
* Split 'lbs' from 'Weight'
* Drop all rows where the club value is null.
* Convert 'Joined' field to datetime field.
* Convert all rows to show only the Year component in the 'Contract Valid Until' field
 * Change to Categorical data type
* Convert the 'Nationality' field to Categorical data type.
* Convert all three of the monetary fields (Wage, Value, Release Clause) into whole numbers:
 * i.e., 64.4M becomes 64600000, 400K becomes 400000 etc.
* Drop redundant 'Marking' and 'Loaned From' columns
* Remove 'nan' from monetary fields (Wage, Value, Release Clause) and replace with 0

#### Step 3 - Data Cleaning

In [11]:
# Create a copy of the original dataframes to work on
df_copy = df.copy()

#### Quality
#### Issue 1 - Cleanup the Work Rate Field

#### Define

* Cleanup Work Rate fields:
 * Remove Blank Spaces
 * Remove N/A from affected cells
 * Convert Work Rate fields to Categorical data types

#### Code

In [12]:
# Prior to cleanup
df['Work Rate'].value_counts()

Medium/ Medium    8544
High/ Medium      3318
Medium/ High      1619
High/ High        1013
Medium/ Low        943
High/ Low          773
Low/ Medium        426
Low/ High          363
N/A/ N/A            59
Low/ Low            50
Name: Work Rate, dtype: int64

In [13]:
df['Work Rate'].dtype

dtype('O')

In [14]:
# Strip spaces
df['Work Rate'] = df['Work Rate'].str.replace(' ','')

# Remove N/A's
df['Work Rate'] = df['Work Rate'].str.replace('N/A/N/A','')

# Convert Object field to Categorical datatype
df['Work Rate'] = df['Work Rate'].astype('category')

#### Test

In [15]:
df['Work Rate'].value_counts()

Medium/Medium    8544
High/Medium      3318
Medium/High      1619
High/High        1013
Medium/Low        943
High/Low          773
Low/Medium        426
Low/High          363
                   59
Low/Low            50
Name: Work Rate, dtype: int64

In [16]:
print(df['Work Rate'].dtype)

category

#### Issue 2 - Remove Euro currency symbols from monetary fields and rename field to include Euro symbol

#### Define

* Remove Euro currency symbols from all monetary fields
 * Wage
 * Value
 * Release Clause
* Add Euro currency to monetary field headers

#### Code

In [17]:
df[['Wage', 'Value','Release Clause']]

        Wage   Value Release Clause
0      €115K  €31.5M         €64.6M
1      €370K    €87M          €161M
2      €195K    €63M        €124.4M
3      €290K  €50.5M        €103.5M
4       €41K    €22M         €46.2M
...      ...     ...            ...
17103   €500    €50K          €120K
17104   €500    €50K           €83K
17105   €500    €60K          €149K
17106   €500    €50K           €94K
17107   €500    €50K          €109K

[17108 rows x 3 columns]

In [18]:
# Strip Euro € from monetary column values
cols = ['Wage', 'Value','Release Clause']

for item in cols:
    df[item] = df[item].astype(str).map(lambda x: x.lstrip('€'))

In [19]:
# Update header names using dictionary
# key = old column name
# value = new column name
dict = {'Wage':'Wage (€)',
        'Value':'Value (€)',
        'Release Clause':'Release Clause (€)'}

# Rename dataframe fields
df.rename(columns=dict, inplace=True)

#### Test

In [20]:
df[['Wage (€)', 'Value (€)','Release Clause (€)']]

      Wage (€) Value (€) Release Clause (€)
0         115K     31.5M              64.6M
1         370K       87M               161M
2         195K       63M             124.4M
3         290K     50.5M             103.5M
4          41K       22M              46.2M
...        ...       ...                ...
17103      500       50K               120K
17104      500       50K                83K
17105      500       60K               149K
17106      500       50K                94K
17107      500       50K               109K

[17108 rows x 3 columns]

#### Issue 3 - Remove 'lbs' from the 'Weight' field

#### Define

* Remove 'lbs' from all rows in the 'Weight' field
* Rename field to 'Weight (lbs)'
* Change datatype from Object to Int

##### Code

In [21]:
df['Weight']

0        190lbs
1        154lbs
2        152lbs
3        161lbs
4        152lbs
          ...
17103    176lbs
17104    187lbs
17105    176lbs
17106    168lbs
17107    172lbs
Name: Weight, Length: 17108, dtype: object

In [22]:
# Remove 'lbs'
df['Weight'] = df['Weight'].astype(str).map(lambda x: x.rstrip('lbs'))

# Convert Object field to Integer datatype
df['Weight'] = df['Weight'].astype('int')

# Rename field
dict = {'Weight':'Weight (lbs)'}

# Rename dataframe field
df.rename(columns=dict, inplace=True)

##### Test

In [23]:
df['Weight (lbs)']

0        190
1        154
2        152
3        161
4        152
        ...
17103    176
17104    187
17105    176
17106    168
17107    172
Name: Weight (lbs), Length: 17108, dtype: int32

#### Issue 4 - Drop all rows where the 'Club' row value is null

#### Define

* Drop all rows that have a null in the 'Club' field

##### Code

In [24]:
# Check total number of null values in the 'Club' field
sum(df.Club.isnull())

325

In [25]:
# Drop all empty rows that have an empty Club row value
df.dropna(subset=['Club'], inplace=True)

#### Test

In [26]:
# Check total number of null values in the 'Club' field is zero
sum(df.Club.isnull()) == 0

True

#### Issue 5 - Convert 'Joined' field to datetime field
#### Define
* Convert field type to datetime

#### Code

In [27]:
df['Joined'].dtype

dtype('O')

In [28]:
# Convert the 'Joined' field from object to datetime
df['Joined'] = pd.to_datetime(df['Joined'])

#### Test

In [29]:
df['Joined'].dtype

dtype('<M8[ns]')

#### Issue 6 - Convert all rows to show only the Year component in the 'Contract Valid Until' field and convert to Categorical datatype
#### Define
* Convert all rows to show only the Year component in the 'Contract Valid Until' field
* Convert field to categorical datatype

#### Code

In [30]:
# Check quality of column
df['Contract Valid Until']

0        2022
1        2023
2        2025
3        2024
4        2024
         ...
17103    2021
17104    2022
17105    2021
17106    2022
17107    2020
Name: Contract Valid Until, Length: 16783, dtype: object

In [31]:
# Data contains rows that contain the date as well and not just the Year
print(df['Contract Valid Until'].iloc[10840])
print(df['Contract Valid Until'].iloc[10557])

Jun 30, 2021
Jun 30, 2015

In [32]:
# Find the Year component
# The str extract method is used to find the year component in each row using Regular Expressions
df['Contract_Valid_Till_Year'] = df['Contract Valid Until'].str.extract(r'(\d{4}$)', expand=True)

# Drop original column
df.drop('Contract Valid Until', axis=1, inplace=True)

# Rename 'Contract_Valid_Till_Year' to 'Contract Valid Until'
df.rename(columns={"Contract_Valid_Till_Year": "Contract Valid Until"}, inplace=True)

# Convert field to Categorical datatype
df['Contract Valid Until'] = df['Contract Valid Until'].astype('category')

#### Test

In [33]:
# Check that only the Year component shows
print(df['Contract Valid Until'].iloc[10840])
print(df['Contract Valid Until'].iloc[10557])
print(df['Contract Valid Until'].dtype == 'category')

2021
2015
True

#### Issue 7 - Convert the 'Nationality' field to Categorical data type
#### Define
* Convert field to categorical data type.

#### Code

In [34]:
# Check datatype before cleansing operation
print(df['Nationality'].dtype)

# Convert datatype to categorical
df['Nationality'] = df['Nationality'].astype('category')

object

#### Test

In [35]:
# Check datatype after cleansing operation
df['Nationality'].dtype

CategoricalDtype(categories=['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
                  'Antigua & Barbuda', 'Argentina', 'Armenia', 'Aruba',
                  'Australia',
                  ...
                  'Ukraine', 'United Arab Emirates', 'United States',
                  'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Wales',
                  'Zambia', 'Zimbabwe'],
                 ordered=False)

#### Issue 8 - Convert all three of the monetary fields (Wage, Value, Release Clause) into whole numbers
#### Define
* Convert all three of the monetary fields (Wage, Value, Release Clause) into whole numbers:
 * i.e., 64.4M becomes 64400000, 400K becomes 400000, values without M or K stay as-is etc.

#### Code

In [36]:
# Check existing values
df[['Name','Wage (€)', 'Value (€)', 'Release Clause (€)']]

                   Name Wage (€) Value (€) Release Clause (€)
0             L. Suárez     115K     31.5M              64.6M
1          K. De Bruyne     370K       87M               161M
2       Bruno Fernandes     195K       63M             124.4M
3          A. Griezmann     290K     50.5M             103.5M
4              M. Acuña      41K       22M              46.2M
...                 ...      ...       ...                ...
17103      19 C. Miszta      500       50K               120K
17104           B. Voll      500       50K                83K
17105         T. Parker      500       60K               149K
17106        H. Sveijer      500       50K                94K
17107       19 J. Milli      500       50K               109K

[16783 rows x 4 columns]

In [37]:
# Begin cleansing operations

# The apply() function applies the lambda function to each row in the dataframe
# Cleanse the Wage
df['Wage (€)'] = df['Wage (€)'].apply(lambda x: int(float(x.replace("K",""))*1000) if "K" in x else x)

In [38]:
# Cleanse the 'Value (€)' column of the M's
df['Value (€)'] = df['Value (€)'].apply(lambda x: int(float(x.replace("M",""))*1000000) if "M" in x else x)

In [39]:
# Cleanse the 'Value (€)' column of the K's
# Need to convert the column to string first to ensure that the string function, replace(), works as expected
df['Value (€)'] = df['Value (€)'].astype('str')
df['Value (€)'] = df['Value (€)'].apply(lambda x: int(float(x.replace("K",""))*1000) if "K" in x else x)

In [40]:
# Cleanse the 'Release Clause (€)' column of the M's
df['Release Clause (€)'] = df['Release Clause (€)'].astype('str')
df['Release Clause (€)'] = df['Release Clause (€)'].apply(lambda x: int(float(x.replace("M",""))*1000000) if "M" in x else x)

In [41]:
# Cleanse the 'Release Clause (€)' column of the K's
df['Release Clause (€)'] = df['Release Clause (€)'].astype('str')
df['Release Clause (€)'] = df['Release Clause (€)'].apply(lambda x: int(float(x.replace("K",""))*1000) if "K" in x else x)

#### Test

In [42]:
# Check existing values
df[['Name','Wage (€)', 'Value (€)', 'Release Clause (€)']]

                   Name Wage (€) Value (€) Release Clause (€)
0             L. Suárez   115000  31500000           64599999
1          K. De Bruyne   370000  87000000          161000000
2       Bruno Fernandes   195000  63000000          124400000
3          A. Griezmann   290000  50500000          103500000
4              M. Acuña    41000  22000000           46200000
...                 ...      ...       ...                ...
17103      19 C. Miszta      500     50000             120000
17104           B. Voll      500     50000              83000
17105         T. Parker      500     60000             149000
17106        H. Sveijer      500     50000              94000
17107       19 J. Milli      500     50000             109000

[16783 rows x 4 columns]

#### Issue 9 -  Drop redundant columns
#### Define
* Drop redundant 'Marking' and 'Loaned From' columns

#### Code

In [43]:
# Check existing values
df[['Marking','Loaned From']]

       Marking Loaned From
0          NaN         NaN
1          NaN         NaN
2          NaN         NaN
3          NaN         NaN
4          NaN         NaN
...        ...         ...
17103      5.0         NaN
17104      NaN         NaN
17105      NaN         NaN
17106      NaN         NaN
17107      6.0         NaN

[16783 rows x 2 columns]

In [44]:
# Check count of total columns in dataframe
df.shape[1]

65

In [45]:
# Drop columns
drop_cols = ['Marking','Loaned From']
df = df.drop(columns=drop_cols)

#### Test

In [46]:
# Check if the dropped columns exist
deleted_cols = ['Marking','Loaned From']

for check in deleted_cols:
    print(check in df.columns)

False
False

In [47]:
# Check count of total columns in dataframe after dropping
df.shape[1]

63

In [48]:
# Check if the dropped columns exist via a visual approach
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16783 entries, 0 to 17107
Data columns (total 63 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        16783 non-null  int64
 1   Name                      16783 non-null  object
 2   Age                       16783 non-null  int64
 3   Photo                     16783 non-null  object
 4   Nationality               16783 non-null  category
 5   Flag                      16783 non-null  object
 6   Overall                   16783 non-null  int64
 7   Potential                 16783 non-null  int64
 8   Club                      16783 non-null  object
 9   Club Logo                 16783 non-null  object
 10  Value (€)                 16783 non-null  object
 11  Wage (€)                  16783 non-null  object
 12  Special                   16783 non-null  int64
 13  Preferred Foot            16783 non-null  object
 14  International Reputation  16783 non-null  float64
 15  Weak Foot                 16783 non-null  float64
 16  Skill Moves               16783 non-null  float64
 17  Work Rate                 16783 non-null  category
 18  Body Type                 16762 non-null  object
 19  Real Face                 16762 non-null  object
 20  Position                  16783 non-null  object
 21  Jersey Number             16783 non-null  float64
 22  Joined                    15659 non-null  datetime64[ns]
 23  Height                    16783 non-null  object
 24  Weight (lbs)              16783 non-null  int32
 25  Crossing                  16783 non-null  float64
 26  Finishing                 16783 non-null  float64
 27  HeadingAccuracy           16783 non-null  float64
 28  ShortPassing              16783 non-null  float64
 29  Volleys                   16749 non-null  float64
 30  Dribbling                 16783 non-null  float64
 31  Curve                     16749 non-null  float64
 32  FKAccuracy                16783 non-null  float64
 33  LongPassing               16783 non-null  float64
 34  BallControl               16783 non-null  float64
 35  Acceleration              16783 non-null  float64
 36  SprintSpeed               16783 non-null  float64
 37  Agility                   16749 non-null  float64
 38  Reactions                 16783 non-null  float64
 39  Balance                   16749 non-null  float64
 40  ShotPower                 16783 non-null  float64
 41  Jumping                   16749 non-null  float64
 42  Stamina                   16783 non-null  float64
 43  Strength                  16783 non-null  float64
 44  LongShots                 16783 non-null  float64
 45  Aggression                16783 non-null  float64
 46  Interceptions             16780 non-null  float64
 47  Positioning               16780 non-null  float64
 48  Vision                    16749 non-null  float64
 49  Penalties                 16783 non-null  float64
 50  Composure                 16511 non-null  float64
 51  StandingTackle            16783 non-null  float64
 52  SlidingTackle             16749 non-null  float64
 53  GKDiving                  16783 non-null  float64
 54  GKHandling                16783 non-null  float64
 55  GKKicking                 16783 non-null  float64
 56  GKPositioning             16783 non-null  float64
 57  GKReflexes                16783 non-null  float64
 58  Best Position             16783 non-null  object
 59  Best Overall Rating       16783 non-null  float64
 60  Release Clause (€)        16783 non-null  object
 61  DefensiveAwareness        15891 non-null  float64
 62  Contract Valid Until      16612 non-null  category
dtypes: category(3), datetime64[ns](1), float64(39), int32(1), int64(5), object(14)
memory usage: 7.8+ MB

#### Issue 10 - Remove 'nan' from Monetary Fields
#### Define
* Remove 'nan' from monetary fields (Wage (€), Value (€), Release Clause (€))
* Replace with 0

#### Code

In [49]:
# Check for 'nan' in monetary fields
sum(df['Wage (€)'] == 'nan')

0

In [50]:
sum(df['Value (€)'] == 'nan')

0

In [51]:
sum(df['Release Clause (€)'] == 'nan')

1304

In [52]:
# Remove 'nan' values from the 'Release Clause (€)' column
df['Release Clause (€)'] = df['Release Clause (€)'].str.replace('nan','0')

#### Test

In [53]:
# Check for 'nan' values
sum(df['Release Clause (€)'] == 'nan')

0

In [54]:
# Check for '0' values
sum(df['Release Clause (€)'] == '0')

1304

#### Tidiness
#### Issue 1 - Create extra fields to store the different Work Rates

#### Define
* Create two extra fields for 'Work Rate Attacking' and 'Work Rate Defending'

#### Code

In [55]:
# Review existing Work Rate field
df[['Name','Work Rate']]

                   Name      Work Rate
0             L. Suárez    High/Medium
1          K. De Bruyne      High/High
2       Bruno Fernandes      High/High
3          A. Griezmann  Medium/Medium
4              M. Acuña      High/High
...                 ...            ...
17103      19 C. Miszta  Medium/Medium
17104           B. Voll  Medium/Medium
17105         T. Parker  Medium/Medium
17106        H. Sveijer  Medium/Medium
17107       19 J. Milli  Medium/Medium

[16783 rows x 2 columns]

In [56]:
# Total columns in dataframe
df.shape[1]

63

In [57]:
df[['Work Rate (Attacking)', 'Work Rate (Defending)']] = df['Work Rate'].str.split('/', expand=True)

#### Test

In [58]:
df[['Name','Work Rate','Work Rate (Attacking)', 'Work Rate (Defending)']]

,Name,Work Rate,Work Rate (Attacking),Work Rate (Defending)
0,L. Suárez,High/Medium,High,Medium
1,K. De Bruyne,High/High,High,High
2,Bruno Fernandes,High/High,High,High
3,A. Griezmann,Medium/Medium,Medium,Medium
4,M. Acuña,High/High,High,High
...,...,...,...,...
17103,19 C. Miszta,Medium/Medium,Medium,Medium
17104,B. Voll,Medium/Medium,Medium,Medium
17105,T. Parker,Medium/Medium,Medium,Medium
17106,H. Sveijer,Medium/Medium,Medium,Medium
17107,19 J. Milli,Medium/Medium,Medium,Medium

In [59]:
# Total columns in dataframe
df.shape[1]

65

#### Create the Master CSV file

In [60]:
df.to_csv("FIFA21_Master.csv")

# Show cleaned dataframe
df.sample(10)

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause (€),DefensiveAwareness,Contract Valid Until,Work Rate (Attacking),Work Rate (Defending)
4209,248573,E. Dina Ebimbe,19,https://cdn.sofifa.com/players/248/573/20_60.png,France,https://cdn.sofifa.com/flags/fr.png,67,81,Dijon FCO,https://cdn.sofifa.com/teams/110569/light_30.png,...,14.0,12.0,5.0,RM,68.0,0,56.0,2021,Medium,Medium
4755,189961,20 V. Kadlec,27,https://cdn.sofifa.com/players/189/961/20_60.png,Czech Republic,https://cdn.sofifa.com/flags/cz.png,70,71,Sparta Praha,https://cdn.sofifa.com/teams/267/light_30.png,...,6.0,7.0,6.0,ST,70.0,4800000,25.0,2020,High,Medium
9805,253735,Antoñín,20,https://cdn.sofifa.com/players/253/735/20_60.png,Spain,https://cdn.sofifa.com/flags/es.png,68,77,Granada CF,https://cdn.sofifa.com/teams/110832/light_30.png,...,12.0,11.0,14.0,ST,70.0,3200000,16.0,2024,Medium,Medium
787,200215,S. Rode,29,https://cdn.sofifa.com/players/200/215/20_60.png,Germany,https://cdn.sofifa.com/flags/de.png,77,77,Eintracht Frankfurt,https://cdn.sofifa.com/teams/1824/light_30.png,...,14.0,7.0,11.0,CDM,77.0,12800000,78.0,2024,High,High
13881,250884,20 Javi Siverio,21,https://cdn.sofifa.com/players/250/884/20_60.png,Spain,https://cdn.sofifa.com/flags/es.png,62,70,Racing Santander,https://cdn.sofifa.com/teams/456/light_30.png,...,11.0,8.0,13.0,ST,63.0,NaN,16.0,2020,Medium,Medium
31,209331,M. Salah,28,https://cdn.sofifa.com/players/209/331/20_60.png,Egypt,https://cdn.sofifa.com/flags/eg.png,90,90,Liverpool,https://cdn.sofifa.com/teams/9/light_30.png,...,9.0,11.0,14.0,RW,90.0,144300000,38.0,2023,High,Medium
16175,209333,C. Maxwell,29,https://cdn.sofifa.com/players/209/333/20_60.png,Wales,https://cdn.sofifa.com/flags/gb-wls.png,67,67,Blackpool,https://cdn.sofifa.com/teams/1926/light_30.png,...,68.0,65.0,69.0,GK,67.0,NaN,14.0,2022,Medium,Medium
6503,212955,19 Jorginho,27,https://cdn.sofifa.com/players/212/955/19_60.png,Brazil,https://cdn.sofifa.com/flags/br.png,70,70,Al Qadisiyah,https://cdn.sofifa.com/teams/112391/light_30.png,...,9.0,8.0,10.0,CAM,69.0,3100000,NaN,2023,Medium,Medium
9130,233075,Garrido,30,https://cdn.sofifa.com/players/233/075/20_60.png,Spain,https://cdn.sofifa.com/flags/es.png,71,71,Cádiz CF,https://cdn.sofifa.com/teams/1968/light_30.png,...,11.0,8.0,13.0,CDM,71.0,4400000,65.0,2023,Medium,High
4900,225998,A. McEneff,24,https://cdn.sofifa.com/players/225/998/20_60.png,Northern Ireland,https://cdn.sofifa.com/flags/gb-nir.png,64,69,Shamrock Rovers,https://cdn.sofifa.com/teams/306/light_30.png,...,10.0,8.0,11.0,CM,66.0,NaN,55.0,2020,High,High

#### Step 4 - Visualization and Insights

In [61]:
#### TODO